body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

.container-contexto{
    margin: 0 auto;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #E6D4B8;
    width: 80%;
    border-radius: 15px;
}

.container-informativo-title{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.container-informativo-text{
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #52E7EB;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: #000;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #38dee4;
  }