<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <style>
        body {
            background-image: linear-gradient(#31bbc0, #223f41);
        }

        li a:hover{
            background-color: #3eccd6;
        }
    </style>
</head>

<body>
    <ul class="crud">
        <li><a href="../index.html">Home</a></li>
        <li><a href="MVC.html">MVC</a></li>
        <li><a href="CRUD.html">CRUD</a></li>
    </ul>

    <div class="row" style="margin-top: 20px;">
        <div class="container container-info crud">
            <div class="info-header">CREATE</div>
            <div class="info-body">Este elemento é responsável pela adição de novos registros ao banco de dados. No
                contexto de aplicações web, ele pode envolver formulários de cadastro de usuários, inserção de produtos
                em um sistema ou até a criação de posts em uma plataforma de blog.

                <br><br>Tecnologias comuns: INSERT INTO em SQL, métodos POST em APIs REST.

                <br><br>Cuidados importantes: Validação de dados, estrutura adequada de armazenamento e integridade
                referencial.
            </div>
        </div>

        <div class=" container container-info-exemplo crud">
            <img src="../assets/create.png" height="300px" width="500px" alt="">
        </div>
    </div>

    <div class="row" style="margin-top: 10%;">
        <div class=" container container-info-exemplo crud">
            <img src="../assets/read.png" height="300px" width="500px" alt="">
        </div>
        <div class="container container-info crud">
            <div class="info-header">READ</div>
            <div class="info-body">Permite a leitura e recuperação de informações armazenadas. Esse processo pode envolver a exibição de listas de produtos, perfil de usuários ou qualquer consulta feita pelo sistema.

                <br><br>Tecnologias comuns: SELECT em SQL, métodos GET em APIs REST.
                
                <br><br>Cuidados importantes: Eficiência das consultas para evitar sobrecarga no banco de dados, uso de índices para otimização.
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10%;">
        <div class="container container-info crud">
            <div class="info-header">UPDATE</div>
            <div class="info-body">Responsável por modificar dados existentes, como a edição de informações de perfil ou atualização de preços em uma loja virtual.

                <br><br>Tecnologias comuns: UPDATE em SQL, métodos PUT ou PATCH em APIs REST.
                
                <br><br> Cuidados importantes: Prevenção de alterações indesejadas, gerenciamento de versão de dados para evitar conflitos.
            </div>
        </div>

        <div class=" container container-info-exemplo crud">
            <img src="../assets/update.png" height="300px" width="500px" alt="">
        </div>
    </div>

    <div class="row" style="margin-top: 10%; margin-bottom: 10%;">
        <div class=" container container-info-exemplo crud">
            <img src="../assets/delete.png" height="300px" width="500px" alt="">
        </div>
        <div class="container container-info crud">
            <div class="info-header">DELETE</div>
            <div class="info-body">Permite remover registros do sistema, como apagar contas de usuários ou excluir comentários.

                <br><br>Tecnologias comuns: DELETE FROM em SQL, método DELETE em APIs REST.
                
                <br><br>Cuidados importantes: Implementação de mecanismos de recuperação (soft delete), controle de permissões para evitar exclusões acidentais.
            </div>
        </div>
    </div>

</body>

</html>