<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <style>
        body {
            background-image: linear-gradient( #31bbc0,#223f41);
            height: 100vh;
        }
    </style>
</head>

<body>
    <ul class="crud">
        <li><a href="index.html">Home</a></li>
        <li><a href="views/info.html">Informações</a></li>
        <li><a href="views/CRUD.html">CRUD</a></li>
        <li><a href="views/MVC.html">MVC</a></li>
      </ul>

</body>

</html>