<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
<link rel="stylesheet" href="../style.css">
<style>
    body {
        background-image: linear-gradient(#EB8D52, #412222);
        height: 100vh;
    }

    li a:hover{
        background-color: #c59100;
    }
</style>
</head>
<body>
    <ul class="mvc">
        <li><a href="../index.html">Home</a></li>
        <li><a href="MVC.html">MVC</a></li>
        <li><a href="CRUD.html">CRUD</a></li>
    </ul>
</body>
</html>